In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from config.paths_config import *

In [2]:
import warnings
warnings.simplefilter("ignore")

In [3]:
try:
    df = pd.read_csv(RAW_FILE_PATH)
    print(f"Loaded data from: {RAW_FILE_PATH}")
except FileNotFoundError:
    print(f"File not found: {RAW_FILE_PATH}")

df.head()

Loaded data from: /home/isaac/OracleLinux8_10/bikeSharing/bike-sharing/data/raw/bike_sharing_modified.csv

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,mixed_type_col
0,1.0,2011-01-01,1.0,0.0,1.0,0.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.81,0.0,3.0,13.0,16.0,702
1,2.0,2011-01-01,1.0,0.0,1.0,1.0,0.0,6.0,0.0,1.0,0.22,0.2727,0.8,0.0,8.0,32.0,40.0,831
2,3.0,2011-01-01,1.0,0.0,1.0,2.0,0.0,6.0,0.0,1.0,0.22,0.2727,0.8,0.0,5.0,27.0,32.0,175
3,4.0,2011-01-01,1.0,0.0,1.0,3.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0,3.0,10.0,13.0,581
4,5.0,2011-01-01,1.0,0.0,1.0,4.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0,0.0,1.0,1.0,659

In [4]:
df.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt', 'mixed_type_col'],
      dtype='object')

##### Instant is an ID Column we can drop it

In [5]:
df.drop(columns=["instant"], inplace=True)

In [6]:
df.shape

(17726, 17)

In [12]:
df.isna().sum()

dteday             184
season             207
yr                 211
mnth               211
hr                 237
holiday            174
weekday            187
workingday         199
weathersit         200
temp               180
atemp              192
hum                214
windspeed          181
casual             203
registered         196
cnt                192
mixed_type_col    1753
dtype: int64

In [15]:
null_percentage = df.isna().mean() * 100
null_percentage

dteday            1.038023
season            1.167776
yr                1.190342
mnth              1.190342
hr                1.337019
holiday           0.981609
weekday           1.054948
workingday        1.122645
weathersit        1.128286
temp              1.015458
atemp             1.083155
hum               1.207266
windspeed         1.021099
casual            1.145210
registered        1.105720
cnt               1.083155
mixed_type_col    9.889428
dtype: float64

In [9]:
df["mixed_type_col"].value_counts()

mixed_type_col
unknown    1768
bad        1744
223          26
404          24
965          23
           ...
217           4
128           4
385           3
540           3
342           2
Name: count, Length: 1002, dtype: int64

In [10]:
df.dtypes

dteday            object
season            object
yr                object
mnth              object
hr                object
holiday           object
weekday           object
workingday        object
weathersit        object
temp              object
atemp             object
hum               object
windspeed         object
casual            object
registered        object
cnt               object
mixed_type_col    object
dtype: object

In [16]:
df.nunique()

dteday            1253
season             155
yr                 128
mnth               190
hr                 218
holiday            101
weekday            168
workingday         119
weathersit         172
temp               281
atemp              320
hum                337
windspeed          219
casual             598
registered        1227
cnt               1372
mixed_type_col    1002
dtype: int64